body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
  }

  header {
    font-family: 'Vollkorn', serif;
    font-size: larger;
    flex: 0 80px;
  }

  hr{
    border: 1px black solid !important;
  }

  h1{
    padding-left: 12px;
    padding-top: 8px;
  }

  h2{
    font-family: 'Vollkorn', serif;
    font-size: large;
  }

  h3{
    padding-top: 20px;
    font-size: xx-large;
    text-align: center;
  }

  main{
    font-family: 'EB Garamond', serif;
    font-size: medium;
  }

 p1{
    opacity: 1;
    animation: fade 10s ;
}

@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

#mainBody {
  font-family: 'EB Garamond', serif, monospace;
  color: rgb(255, 255, 255);
  background: rgb(20, 20, 20);
  padding: 1em;
  min-height: 8em;
  text-align: center;
}

#totals{
  padding-bottom: 1em;
  font-size: x-large;
}

#listOfBooks{
  font-size: large;
}

th {
  cursor: pointer;
  border-bottom: 1px white solid !important;
}

td {
  border-bottom: 1px white solid !important;
  border-left: 1px white solid !important;
  border-right: 1px white solid !important;
  min-width: 150px;
}
  