body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
  }

  header {
    font-family: 'Vollkorn', serif;
    font-size: large;
    flex: 0 80px;
  }

  hr{
    border: 1px black solid !important;
  }

  main{
    font-family: 'EB Garamond', serif;
    font-size: medium;
  }

  
  